$font-stack: 'Lato', serif;

$darkest-blue: #07080B;
$darker-blue: #32445F;
$dark-blue: #45597A;
$dark-blue-text: #C1CBD4;

$gradient-dark: #131922;
$gradient-light: #32445F;

$salmon: #FF6D50;
$lime: #3BD66A;
$orange: #FFB25A;
$sky-blue: #299BE4;
$beige: #FFF9F2;
$light-beige: #FFFDFA;