@import "flexbox";

.door{
  background-color: white;
  @include flexbox();
  display: flex;
  flex-direction: row;
  @include flex-flow(row-wrap)
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 300px;
  height: 300px;
  color: #07080B;
  border-radius: 5px;
  margin: 30px;
}
