@import "flexbox";

.door{
  background-color: white;
  // @include flexbox();
  // display: inline-block;
  // flex-direction: row;
  // @include flex-flow(row-wrap)
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #07080B;
  border-radius: 35px;
  margin: 30px;
  text-align: center;
  width: 286px;
  height: 350px;
  background-image: url('/img/door1x.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  img {
    height: 120px;
  }
}

.doorImg {
  // width: 100%;
  // height: 100%;
}

.doorName{
  color: white;
  font-size: 36px;
}
