@import "flexbox";
@import "colors";

body {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    h1 {
        font-weight: 400;
    }
}

.main-container {
    overflow: hidden;
    height: 94vh;
    width: 100vw;
    border: 1px solid black;
    position: relative;
    .flex {
        float: left;
        width: 80%;
        height: 100%;
        border: 1px solid blue;
    }
}