@import "flexbox";
@import "colors";

body {
    font-family: 'Montserrat', sans-serif;
    h1 {
        font-weight: 400;
    }
}

.main-container {
    overflow: hidden;
    height: 94vh;
    width: 100vw;
    position: relative;
    .flex {
        float: left;
        width: 80%;
        height: 100%;
    }
}