@import "flexbox";
@import "colors";

.navbar {
    height: 10vh;
    padding: 10px;
    color: white;
    background-color: $dark_green;
    border-radius: 0px;
    font: $font-stack;
    margin: 0;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    h1 {
        text-align: center;
        @include flex(5);
    }
    div {
        @include flex(1);
    }
    .profile-button {
        border-radius: 5px;
        background-color: yellow;
        color: black;
        border: none;
        height: 45px;
        display: inline;
    }
    img {
        @include flex(1);
        height: 50px;
    }
}