@import "flexbox";
@import "colors";

.navbar {
    height: 6vh;
    color: white;
    background-color: $salmon;
    border-radius: 0px;
    margin: 0;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    h1 {
        text-align: center;
    }
    div {
    }
    .profile-button {
        border-radius: 5px;
        background-color: white;
        width: 80px;
        color: black;
        border: none;
        height: 30px;
        display: inline;
    }
    .dashboard-button {
        border-radius: 5px;
        background-color: white;
        width: 80px;
        color: black;
        border: none;
        height: 30px;
        display: inline;
    }
    img {
        height: 30px;
    }
}