@import "flexbox";
@import "colors";

.neighbors {
  overflow: scroll;
  @include flex(2);
  height: 100%;
  text-align: center;
  .side-bar {

  }
  .neighbors-bar {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, red , yellow); /* Standard syntax */
    h2 {
      color: white;
      font-size: 24px;
      margin: 10px;
    }
    .add-neighbor-button {
      width: 96%;
      background-color: #DDFFD5;
      border-radius: 5px;
      color: #0C412B;
      font-weight: bold;
      padding: 10px 5px;
      margin: 10px 0px;
    }
  }
}
