@import "flexbox";
@import "colors";

.neighbors {
  overflow: scroll;
  height: 200px;
  text-align: center;
  .side-bar {
    float: left;
    height: 100%;
    width: 20%;
    background-color: $darkest-blue;
  }
  .neighbors-bar {
    float: left;
    height: 100%;
    width: 80%;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(bottom, $darker-blue , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, $darker-blue, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, $darker-blue, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(top, $darker-blue , yellow); /* Standard syntax */
    h2 {
      color: white;
      font-size: 24px;
    }
    .add-neighbor-button {
      // width: 96%;
      // background-color: #DDFFD5;
      // border-radius: 5px;
      // color: #0C412B;
      // font-weight: bold;
    }
  }
}
