@import "flexbox";
@import "colors";

.requests {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);

    width: 25%;
    overflow: scroll;
    height: 100%;
    background-color: $beige;
    text-align: center;
    padding: 10px;
    h2 {
        color: $darker-blue;
        font-size: 24px;
        margin: 10px;
    }
    img {
        height: 60px;
    }
}
