@import "flexbox";
@import "colors";

.requests {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);

    overflow: scroll;
    @include flex(1);
    height: 100%;
    width: 100%;
    background-color: $beige;
    text-align: center;
    padding: 10px;
    h2 {
        color: $darker-blue;
        font-size: 24px;
        margin: 10px;
    }
    .add-request-button {
        height: 60px;
        width: 60px;
        content: "+";
        background-color: $dark-blue;
        border-radius: 50%;
        color: white;
    }
}
