@import "flexbox";
@import "colors";

.requests {
    @include flex(1);
    height: 100%;
    background-color: #DDFFD5;
    text-align: center;
    padding: 10px;
    h2 {
        color: #0C412B;
        font-size: 24px;
        margin: 10px;
    }
    .add-request-button {
        width: 96%;
        background-color: white;
        border-radius: 5px;
        color: #0C412B;
        font-weight: bold;
        padding: 10px 5px;
        margin: 10px 0px;
    }
}
